<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Startup</title>
    <link rel="stylesheet" href="../static/css/idea1.css">
    <link type="text/css" rel="stylesheet" href="../static/css/idea.css">
    <script src="https://kit.fontawesome.com/eba86a9167.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="top">
        <div class="name">Entre Hub</div>
        <a href="{% url 'userapp:profile' %}" class="loginBtn"><button class="gs">Profile</a>
    </div>
    <ul class="nav">
        <li><a class="navi" id="active" href="{% url 'userapp:main' %}">Home</a></li>
        <li>
            <a class="navi" href="{% url 'userapp:getmentor' %}">Explore</a>
        </li>
        <li><a class="navi" href="{% url 'userapp:news' %}">Latest News</a></li>
        <li><a class="navi" href="{% url 'userapp:networking' %}">Networking</a></li>
        <li>
            <a class="navi" href="{% url 'userapp:dashboard' %}">Idea Board</a>
        </li>
    </ul>

    <div>
        <div class="img1">
            <div class="text">
                <span class="border">
                Fund Raising
            </span>
            </div>
        </div>

        <section class="section section-dark">
            <div class="cols">
                <!-- <div class="container">
                <img src="img5.jpg" style="width: 300px; height: 400px ">
            </div> -->
                <div class=" txt ">
                    <p class="content">
                        <h3>understanding investors:</h3>
                        <p>
                            • Investors are not in the business of making your business work; they are in the business of entering & exiting the business. o They raise money from LPs (Limited Partner) o When they raise this money, they promise a return to them. o They enter the
                            business with potential growth, make capital gains & exit. o If your company doesn't grow they would urge for a merger, or selling it since they need to get their returns.


                        </p>
                        <h3> What to ask yourself before raising money?</h3>
                        <p>• When is the right time to raise the money?<br> • What to do with that money?<br> • You need something to show the investor that their money will grow, do you have that ‘something’?<br>

                        </p>



                    </p>
                </div>
            </div>
        </section>

        <!-- <div class="img2 ">
        <div class="text ">
            <span class="border trans ">
                Second Image
            </span>
        </div>
    </div>

    <section class="section section-dark ">
        <h2>RESOURCES?</h2>
        <div class="cols">
            <div class="container">
                <img src="img5.jpg" style="width: 300px; height: 400px ">
            </div>
            <div class=" txt ">

            </div>
        </div>
    </section> -->

        <div class="img3 ">
            <div class="text ">
                <span class="border trans ">
RESOURCES            </span>
            </div>
        </div>

        <section class="ytVideos">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/sIlf4G_Ihlc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/qC58YpMHKpQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
        <footer id="footer">
            <i class="social-icons fab fa-facebook"></i>
            <i class="social-icons fab fa-twitter"></i>
            <i class="social-icons fab fa-instagram"></i>
            <i class="social-icons far fa-envelope"></i>
            <p>© Copyright 2022 SIH</p>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js "></script>

</body>

</html>