<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GO TO MARKET STRATEGY</title>
    <link rel="stylesheet" href="../static/css/idea1.css">
    <link type="text/css" rel="stylesheet" href="../static/css/idea.css">
    <script src="https://kit.fontawesome.com/eba86a9167.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="top">
        <div class="name">Entre Hub</div>
        <a href="{% url 'userapp:profile' %}" class="loginBtn"><button class="gs">Profile</a>
    </div>
    <ul class="nav">
        <li><a class="navi" id="active" href="{% url 'userapp:main' %}">Home</a></li>
        <li>
            <a class="navi" href="{% url 'userapp:getmentor' %}">Explore</a>
        </li>
        <li><a class="navi" href="{% url 'userapp:news' %}">Latest News</a></li>
        <li><a class="navi" href="{% url 'userapp:networking' %}">Networking</a></li>
        <li>
            <a class="navi" href="{% url 'userapp:dashboard' %}">Idea Board</a>
        </li>
    </ul>

    <div>
        <div class="img1">
            <div class="text">
                <span class="border">
                    GO TO MARKET STRATEGY
            </span>
            </div>
        </div>

        <section class="section section-dark">

            <!-- <h2>GO TO MARKET STRATEGY</h2> -->
            <div class="cols">
                <!-- <div class="container">
                <img src="img5.jpg" style="width: 300px; height: 400px ">
            </div> -->
                <div class=" txt ">
                    <p class="content">
                        A go-to-market (GTM) strategy is a step-by-step plan created to successfully launch a product to market. A good GTM strategy generally identifies a target audience, includes a marketing plan, and outlines a sales strategy. While each product and market
                        will be different, a GTM strategy should identify a market problem and position the product as a solution
                        <h3> How to create a “go to maket strategy</h3>
                        <p>
                            • Define Your Product <br> • Take a little time to clearly define your product before you dive into the rest of your go to market strategy.<br> • You need to be able to say exactly what the product is as well as what it does.<br>

                        </p>
                        <h2>How to start?</h2>
                        <p>• Idea Validation<br> • Research<br> • Prototype<br> • Market Launch Strategy<br> • Execution<br>
                        </p>



                    </p>
                </div>
            </div>
        </section>

        <!-- <div class="img2 ">
        <div class="text ">
            <span class="border trans ">
                Second Image
            </span>
        </div>
    </div>

    <section class="section section-dark ">
        <h2>RESOURCES?</h2>
        <div class="cols">
            <div class="container">
                <img src="img5.jpg" style="width: 300px; height: 400px ">
            </div>
            <div class=" txt ">

            </div>
        </div>
    </section> -->

        <div class="img3 ">
            <div class="text ">
                <span class="border trans ">
RESOURCES            </span>
            </div>
        </div>

        <section class="ytVideos">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/22Gki20BQ1E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/n8GfATsQd2Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
        <footer id="footer">
            <i class="social-icons fab fa-facebook"></i>
            <i class="social-icons fab fa-twitter"></i>
            <i class="social-icons fab fa-instagram"></i>
            <i class="social-icons far fa-envelope"></i>
            <p>© Copyright 2022 SIH</p>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js "></script>

</body>

</html>