<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pitch Deck</title>
    <link rel="stylesheet" href="../static/css/idea1.css">
    <link type="text/css" rel="stylesheet" href="../static/css/idea.css">
    <script src="https://kit.fontawesome.com/eba86a9167.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="top">
        <div class="name">Entre Hub</div>
        <a href="{% url 'userapp:profile' %}" class="loginBtn"><button class="gs">Profile</a>
    </div>
    <ul class="nav">
        <li><a class="navi" id="active" href="{% url 'userapp:main' %}">Home</a></li>
        <li>
            <a class="navi" href="{% url 'userapp:getmentor' %}">Explore</a>
        </li>
        <li><a class="navi" href="{% url 'userapp:news' %}">Latest News</a></li>
        <li><a class="navi" href="{% url 'userapp:networking' %}">Networking</a></li>
        <li>
            <a class="navi" href="{% url 'userapp:dashboard' %}">Idea Board</a>
        </li>
    </ul>

    <div>
        <div class="img1">
            <div class="text">
                <span class="border">
                    Pitch Deck
            </span>
            </div>
        </div>

        <section class="section section-dark">

            <div class="cols">
                <!-- <div class="container">
                <img src="img5.jpg" style="width: 300px; height: 400px ">
            </div> -->
                <div class=" txt ">
                    <p class="content">
                        <h3>What is a Pitch Deck? </h3>
                        A pitch deck is a communication tool used to provide audience with a overview of our business. You use your pitch deck during face-to-face or online meetings with potential investors to make them believe that your startup is viable and worth investing.


                        <h3>What includes in a Pitch Deck?</h3>
                        <p>
                            There is no fixed format for a pitch deck but surely there are certain topics which a pitch deck must cover, namely: • Introduction <br> • Problem Statement<br> • Solution<br> • Market size and opportunity<br> • Product<br>                            • Traction<br> • Competition<br> • Financials<br> • Investment ask and fund utilization<br> • Team<br>

                        </p>




                    </p>
                </div>
            </div>
        </section>

        <!-- <div class="img2 ">
        <div class="text ">
            <span class="border trans ">
                Second Image
            </span>
        </div>
    </div>

    <section class="section section-dark ">
        <h2>RESOURCES?</h2>
        <div class="cols">
            <div class="container">
                <img src="img5.jpg" style="width: 300px; height: 400px ">
            </div>
            <div class=" txt ">

            </div>
        </div>
    </section> -->

        <div class="img3 ">
            <div class="text ">
                <span class="border trans ">
RESOURCES            </span>
            </div>
        </div>

        <section class="ytVideos">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/SB16xgtFmco" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/I39yb6eqD-4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
        <footer id="footer">
            <i class="social-icons fab fa-facebook"></i>
            <i class="social-icons fab fa-twitter"></i>
            <i class="social-icons fab fa-instagram"></i>
            <i class="social-icons far fa-envelope"></i>
            <p>© Copyright 2022 SIH</p>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js "></script>

</body>

</html>