<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>REVENUE MODELS </title>
    <link rel="stylesheet" href="../static/css/idea1.css">
    <link type="text/css" rel="stylesheet" href="../static/css/idea.css">
    <script src="https://kit.fontawesome.com/eba86a9167.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="top">
        <div class="name">Entre Hub</div>
        <a href="{% url 'userapp:profile' %}" class="loginBtn"><button class="gs">Profile</a>
    </div>
    <ul class="nav">
        <li><a class="navi" id="active" href="{% url 'userapp:main' %}">Home</a></li>
        <li>
            <a class="navi" href="{% url 'userapp:getmentor' %}">Explore</a>
        </li>
        <li><a class="navi" href="{% url 'userapp:news' %}">Latest News</a></li>
        <li><a class="navi" href="{% url 'userapp:networking' %}">Networking</a></li>
        <li>
            <a class="navi" href="{% url 'userapp:dashboard' %}">Idea Board</a>
        </li>
    </ul>

    <div>
        <div class="img1">
            <div class="text">
                <span class="border">
                    REVENUE MODELS  
            </span>
            </div>
        </div>

        <section class="section section-dark">

            <div class="cols">
                <!-- <div class="container">
                <img src="img5.jpg" style="width: 300px; height: 400px ">
            </div> -->
                <div class=" txt ">
                    <p class="content">Revenue modeling has a direct impact on the success of a business and its everyday processes. Anyone who has strategic input in a company's operation should understand the revenue model and be able to explain it to their team to guide
                        their efforts. It identifies the potential of different sources of cash flow to grow over time and earn increasing profits for a business. Revenue modeling also helps align marketing efforts with the characteristics and behaviors
                        of certain customer segments.
                        <h3>There are various types of Revenue models like:</h3>
                        <p>
                            • Ad-Based Revenue Model <br> • Affiliate Revenue Model <br> • Transactional Revenue Model <br> • Subscription Revenue Model <br> • Ad-Based Revenue Model <br>
                        </p>
                    </p>
                </div>
            </div>
        </section>

        <!-- <div class="img2 ">
        <div class="text ">
            <span class="border trans ">
                Second Image
            </span>
        </div>
    </div>

    <section class="section section-dark ">
        <h2>RESOURCES?</h2>
        <div class="cols">
            <div class="container">
                <img src="img5.jpg" style="width: 300px; height: 400px ">
            </div>
            <div class=" txt ">

            </div>
        </div>
    </section> -->

        <div class="img3 ">
            <div class="text ">
                <span class="border trans ">
RESOURCES            </span>
            </div>
        </div>

        <section class="ytVideos">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/yzZqnMbzWXw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/sIlf4G_Ihlc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
        <footer id="footer">
            <i class="social-icons fab fa-facebook"></i>
            <i class="social-icons fab fa-twitter"></i>
            <i class="social-icons fab fa-instagram"></i>
            <i class="social-icons far fa-envelope"></i>
            <p>© Copyright 2022 SIH</p>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js "></script>

</body>

</html>