<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Entre Hub: Startup</title>
    <link rel="stylesheet" href="./sample page/main.css">
    <link type="text/css" rel="stylesheet" href="./sample page/style.css">
    <script src="https://kit.fontawesome.com/eba86a9167.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="top">
        <div class="name">Entre Hub</div>
        <a href="{% url 'userapp:profile' %}" class="loginBtn"><button class="gs">Profile</a>
    </div>
    <ul class="nav">
        <li><a class="navi" id="active" href="{% url 'userapp:main' %}">Home</a></li>
        <li>
            <a class="navi" href="{% url 'userapp:getmentor' %}">Explore</a>
        </li>
        <li><a class="navi" href="{% url 'userapp:news' %}">Latest News</a></li>
        <li><a class="navi" href="{% url 'userapp:networking' %}">Networking</a></li>
        <li>
            <a class="navi" href="{% url 'userapp:dashboard' %}">Idea Board</a>
        </li>
    </ul>

    <div>
        <div class="img1">
            <div class="text">
                <span class="border">
                Startup
            </span>
            </div>
        </div>

        <section class="section section-dark">

            <h2>Startup</h2>
            <div class="cols">
                <!-- <div class="container">
                <img src="img5.jpg" style="width: 300px; height: 400px ">
            </div> -->
                <div class=" txt ">
                    <p class="content">
                        A start up is finding a way to generate revenue by solving a problem. It is different from conventional businesses in terms of Innovation, Investment, Risk and Creativity. These problems can be solved with the help of ideas which come either from Surrounding
                        or from the issues that you yourself are facing or are watching someone face.
                        <h3>Why to go for start ups?</h3>
                        <p>
                            Start ups or Entrepreneurship in general has its own benefits: • Contribution to the economy • Solving Problem • Interpersonal Skill Development • Experience and Growth • Market and organization knowledge

                        </p>
                        <h2>How to start?</h2>
                        <p>• Idea Validation<br> • Research<br> • Prototype<br> • Market Launch Strategy<br> • Execution<br>
                        </p>
                    </p>
                </div>
            </div>
        </section>

        <!-- <div class="img2 ">
        <div class="text ">
            <span class="border trans ">
                Second Image
            </span>
        </div>
    </div>

    <section class="section section-dark ">
        <h2>RESOURCES?</h2>
        <div class="cols">
            <div class="container">
                <img src="img5.jpg" style="width: 300px; height: 400px ">
            </div>
            <div class=" txt ">

            </div>
        </div>
    </section> -->

        <div class="img3 ">
            <div class="text ">
                <span class="border trans ">
RESOURCES            </span>
            </div>
        </div>

        <section class="ytVideos">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Ad0AI1WmiXw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/H9ygAJ3dcqE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
        <footer id="footer">
            <i class="social-icons fab fa-facebook"></i>
            <i class="social-icons fab fa-twitter"></i>
            <i class="social-icons fab fa-instagram"></i>
            <i class="social-icons far fa-envelope"></i>
            <p>© Copyright 2022 SIH</p>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js "></script>

</body>

</html>